<!DOCTYPE html>
<html>
<head>
    <script src="angular.min.js"></script>
    <script src="ui-bootstrap-tpls-2.5.0.min.js"></script>
    <script src="ng-file-upload-shim.js"></script>
    <script src="ng-file-upload.js"></script>
    <link rel="stylesheet" href="bootstrap.min.css">
    <style type="text/css">
        .drop-box {
            background: #F8F8F8;
            border: 5px dashed #DDD;
            width: 200px;
            height: 65px;
            text-align: center;
            padding-top: 25px;
            margin: 10px;
        }
        .dragover {
            border: 5px dashed blue;
        }
        .main {
            margin: auto;
            width: 50%;
            padding: 10px;
            text-align: center;
        }
    </style>
</head>

<body>

    <div ng-app="myApp" ng-controller="myCtrl" class="main">

        <button type="button" class="btn btn-default" ng-click="open()">Broadcast</button>

        <div modal="showModal" close="cancel()">
            <div class="modal-header">
                <h4>Broadcast</h4>
            </div>
            <div class="modal-body" style="text-align: left;">
                <div ngf-drop ngf-select ng-model="files" class="drop-box" ng-disabled="loading"
                ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true"
                accept="image/*" ngf-pattern="'image/*'">Drop images here or click to upload</div>
                <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
                <div ng-repeat="imageUrl in imageUrls">{{imageUrl}}
                    <input type="button" ng-click="removeImage(imageUrl)" value="remove">
                </div>
                <div style="clear:both"></div>
                <div style="float:left; margin-right: 20px;">
                    <div>Public channel:</div>                
                    <select ng-model="publicChannel" ng-change="changeRoomId()">
                        <option ng-repeat="channel in publicChannels"
                                value="{{channel.id}}">
                          {{channel.name}}
                        </option>
                    </select>
                </div>
                <div>
                    <div>Private channel:</div>
                    <select ng-model="privateChannel" ng-change="changeRoomId()">
                        <option ng-repeat="channel in privatehannels"
                                value="{{channel.roomId}}">
                          {{channel.participantFirstName}} {{channel.participantLastName}}
                        </option>
                    </select>
                </div>
                <div>is Broadcast:<input type="checkbox" ng-model="postData.broadcast" ng-change="changeRoomId()" style="margin: 0 0 0 5px;"></div>
                <div>is Private Message:<input type="checkbox" ng-model="postData.privateMessage" ng-change="changeRoomId()" style="margin: 0 0 0 5px;"></div>
                <div>Description:<textarea ng-model="postData.description"></textarea></div>
                <div>Price:<input type="number" ng-model="postData.price" step="0.01"></div>
                <div>Location:<input type="text" ng-model="postData.location"></div>
                <div>Year:<input type="number" ng-model="postData.year"></div>
                <div>Make:<input type="text" ng-model="postData.make"></div>
                <div>Model:<input type="text" ng-model="postData.model"></div>
                <div>New/Used:<input type="text" ng-model="postData.newUsed"></div>
                <div>Type:<input type="text" ng-model="postData.type"></div>
                <div>Hours:<input type="number" ng-model="postData.hours" step="0.1"></div>
                <div>Stock:<input type="text" ng-model="postData.stock"></div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-success" ng-click="post()" ng-disabled="loading">Post</button>
              <button class="btn" ng-click="cancel()">Cancel</button>
            </div>
          </div>
    </div>


    <script>
        var app = angular.module('myApp', ['ngFileUpload', 'ui.bootstrap.modal']);     
     
        app.controller('myCtrl', function ($scope, $http, $window, Upload) {

            var api_context = "http://localhost:8080/api";//"http://app.automotocast.ca/api";
            var demo_user_id = 27;//4691;

            $scope.open = function() {
                $scope.showModal = true;
                $scope.imageUrls = [];
                $scope.privateChannel = null;
                $scope.publicChannel = null;
                $scope.postData = {    
                    dealerUserId: demo_user_id,
                    roomId: null,
                    broadcast: false,
                    privateMessage: true,
                    description: "",
                    imageUrls: [],
                    price: "",
                    location: "",
                    year: "",
                    make: "",
                    model: "",
                    newUsed: "",
                    type: "",
                    hours: "",
                    stock: ""
                };  
            };

            $scope.cancel = function() {
                $scope.showModal = false;
            };

            $scope.imageUrls = [];
            $scope.postData = {    
                dealerUserId: demo_user_id,
                roomId: null,
                broadcast: false,
                privateMessage: true,
                description: "",
                imageUrls: [],
                price: "",
                location: "",
                year: "",
                make: "",
                model: "",
                newUsed: "",
                type: "",
                hours: "",
                stock: ""
            };            
            
            $http({
                url: api_context + "/user/"+demo_user_id+"/publicChannels",
                method: 'GET'

            }).then(function (response) {
                $scope.publicChannels = response.data.result;
            });

            $http({
                url: api_context + "/user/"+demo_user_id+"/privateChannels",
                method: 'GET'

            }).then(function (response) {
                $scope.privatehannels = response.data.result;
            });

            $scope.addImage = function(url) {
                if($scope.imageUrls.indexOf(url) == -1) {
                    $scope.imageUrls.push(url);
                }
                $scope.postData.imageUrls = $scope.imageUrls;
                console.log($scope.imageUrls);
            };
            $scope.removeImage = function(url) {
                $scope.imageUrls.splice($scope.imageUrls.indexOf(url), 1);
                $scope.postData.imageUrls = $scope.imageUrls;
                console.log($scope.imageUrls);
            };

            $scope.changeRoomId = function() {
                if($scope.postData.privateMessage) {
                    $scope.postData.roomId = $scope.privateChannel;
                } else {
                    $scope.postData.roomId = $scope.publicChannel;
                }
            };
                       
            $scope.post = function() {                
                console.log($scope.postData);
                if($scope.postData.dealerUserId == null || $scope.postData.roomId == null) {
                    $window.alert("error occured!");
                } else {
                    $http({
                        url: api_context + "/user/chat/post/message",
                        dataType: 'json',
                        method: 'POST',
                        data: $scope.postData
                    }).then(function (response) {
                        console.log(response);
                          
                        $scope.showModal = false;

                    });
                }
            };

            $scope.$watch('files', function () {
                $scope.upload($scope.files);
            });
            $scope.$watch('file', function () {
                if ($scope.file != null) {
                    $scope.files = [$scope.file]; 
                }
            });
            $scope.loading = false;

            $scope.upload = function (files) {
                if($scope.postData.roomId != null) {
                    if (files && files.length) {
                        $scope.loading = true;
                        for (var i = 0; i < files.length; i++) {
                          var file = files[i];
                          if (!file.$error) {
                            Upload.upload({
                                url: api_context + "/files/upload/user/" + demo_user_id + "/room/" + $scope.postData.roomId,
                                data: {
                                  file: file  
                                }
                            }).then(function (response) {
                                $scope.addImage(api_context + "/files/download/" + response.data.result.id);
                                $scope.loading = false;
                            });
                          }
                        }
                    }
                } else {
                    if($scope.showModal) {
                        $window.alert("please select a channel");
                    }
                }
            }
        });    
 
    </script>

</body>
</html>
