<!DOCTYPE html>
<html>
<head>
    <script src="angular.min.js"></script>
    <script src="ui-bootstrap-tpls-2.5.0.min.js"></script>
    <script src="ng-file-upload-shim.js"></script>
    <script src="ng-file-upload.js"></script>
    <link rel="stylesheet" href="bootstrap.min.css">
    <script src="js/test-directives.js"></script>
    <style type="text/css">
        .drop-box {
            background: #F8F8F8;
            border: 5px dashed #DDD;
            width: 200px;
            height: 65px;
            text-align: center;
            padding-top: 25px;
            margin: 10px;
        }

        .dragover {
            border: 5px dashed blue;
        }
        .main {
            margin: auto;
            width: 50%;
            padding: 10px;
            text-align: center;
        }

        .modal-header {
            background: #386996;
            color: white;
        }

        button.close {
            color: #fff;
            opacity: 1;
            padding-top: 1%;
            margin-right: 2.5%;
            font-size: 250%;
        }

        .logo {
            margin-left:1%;
            margin-top:1.3%;
            float:left;
            padding-right: 1%;
        }
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            text-align: left;
            padding: 4px;
        }


        .modal-heading {
            font-weight: bold;
            font-size: 100%;
        }


        .modal-footer > button {
            background: #ED1C24;
        }

        .modal-footer {
            text-align: center;
        }

        img:hover{
            cursor: pointer;
        }

        ::-webkit-scrollbar-track
        {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            border-radius: 10px;
            background-color: #F5F5F5;
        }

        ::-webkit-scrollbar
        {
            width: 12px;
            background-color: #F5F5F5;
        }

        ::-webkit-scrollbar-thumb
        {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
            background-color: #555;
        }

        .scroll-bar
        {
            overflow: auto;
        }
    </style>
</head>

<body>

    <div ng-app="myApp" ng-controller="myCtrl" class="main">

        <button type="button" class="btn btn-default" ng-click="open()">Broadcast</button>

        <map-div></map-div>

        <div modal="showModal" close="cancel()">
            <button style="margin-top: 2%" type="button" class="close" ng-click="cancel()" aria-label="Close">&times;</button>
            <div class="modal-header">
                <img class="logo" src="img/application_logo.png"/>
                <h6 style='text-align:left;'>BROADCAST THIS ITEM</h6>
            </div>
            <div class="modal-body scroll-bar" style="text-align: left;">

                <div ngf-drop ngf-select ng-model="files" class="drop-box" ng-disabled="loading"
                ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true"
                accept="image/*" ngf-pattern="'image/*'">Drop images here or click to upload</div>
                <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
                <div ng-repeat="imageUrl in imageUrls">{{imageUrl}}
                    <input type="button" ng-click="removeImage(imageUrl)" value="remove">
                </div>
                <br>
                <div style="clear:both"></div>
                <div style="float:left; margin-right: 20px;">
                    <div class="modal-heading">Public channel:</div>
                    <select ng-model="publicChannel" ng-change="changeRoomIdToPublic()">
                        <option ng-repeat="channel in publicChannels"
                                value="{{channel.id}}">
                          {{channel.name}}
                        </option>
                    </select>
                </div>
                OR
                <!-- TODO: styling issue-->
                <div>
                    <div class="modal-heading">Private channel:</div>
                    <select ng-model="privateChannel" ng-change="changeRoomIdToPrivate()">
                        <option ng-repeat="channel in privateChannels"
                                value="{{channel.roomId}}">
                          {{channel.participantFirstName}} {{channel.participantLastName}}
                        </option>
                    </select>
                </div>
                <table>
                    <!-- redundant
                    <tr>
                        <td>
                            <div class="modal-heading">is Broadcast:
                                <input type="checkbox" ng-model="postData.broadcast" ng-change="changeRoomId()" style="margin: 0 0 0 5px;">
                            </div>
                        </td>
                        <td>
                            <div class="modal-heading">is Private Message:
                                <input type="checkbox" ng-model="postData.privateMessage" ng-change="changeRoomId()" style="margin: 0 0 0 5px;"></div>
                        </td>
                    </tr>
                    -->
                </table>
                <br>
                <div class="modal-heading">Description:</div>
                <textarea style="width: 100%;" ng-model="postData.description"></textarea>
                <table>
                    <tr>
                        <td>
                            <div class="modal-heading">Price:</div>
                        </td>
                        <td>
                            <div>
                                <input type="number" ng-model="postData.price" step="0.01">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="modal-heading">Location:</div>
                        </td>
                        <td>
                            <div>
                                <input type="text" ng-model="postData.location">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="modal-heading">Year:</div>
                        </td>
                        <td>
                            <div>
                                <input type="number" ng-model="postData.year">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="modal-heading">Make:</div>
                        </td>
                        <td>
                            <div>
                                <input type="text" ng-model="postData.make">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="modal-heading">Model:</div>
                        </td>
                        <td>
                            <div>
                                <input type="text" ng-model="postData.model">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="modal-heading">New/Used:</div>
                        </td>
                        <td>
                            <div>
                                <input type="text" ng-model="postData.newUsed">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="modal-heading">Type:</div>
                        </td>
                        <td>
                            <div>
                                <input type="text" ng-model="postData.type">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="modal-heading">Hours:</div>
                        </td>
                        <td>
                            <div>
                                <input type="number" ng-model="postData.hours" step="0.1">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="modal-heading">Stock:</div>
                        </td>
                        <td>
                            <div>
                                <input type="text" ng-model="postData.stock">
                            </div>
                        </td>
                    </tr>
                </table>

            </div>
            <div class="modal-footer">
              <button class="btn btn-success" ng-click="post()" ng-disabled="loading">BROADCAST</button>
            </div>
          </div>
    </div>


    <script>
        var app = angular.module('myApp', ['test-directives', 'ngFileUpload', 'ui.bootstrap.modal']);
     
        app.controller('myCtrl', function ($scope, $http, $window, Upload) {

            var api_context = "http://localhost:8080/api";//"http://app.automotocast.ca/api";
            var demo_user_id = 27;//4691;

            $scope.open = function() {
                $scope.showModal = true;
                $scope.imageUrls = [];
                $scope.privateChannel = null;
                $scope.publicChannel = null;
                $scope.postData = {    
                    dealerUserId: demo_user_id,
                    roomId: null,
                    broadcast: false,
                    privateMessage: false,
                    description: "",
                    imageUrls: [],
                    price: "",
                    location: "",
                    year: "",
                    make: "",
                    model: "",
                    newUsed: "",
                    type: "",
                    hours: "",
                    stock: ""
                };  
            };

            $scope.cancel = function() {
                $scope.showModal = false;
            };

            $scope.imageUrls = [];
            $scope.postData = {    
                dealerUserId: demo_user_id,
                roomId: null,
                broadcast: false,
                privateMessage: true,
                description: "",
                imageUrls: [],
                price: "",
                location: "",
                year: "",
                make: "",
                model: "",
                newUsed: "",
                type: "",
                hours: "",
                stock: ""
            };            
            
            $http({
                url: api_context + "/user/"+demo_user_id+"/publicChannels",
                method: 'GET'

            }).then(function (response) {
                $scope.publicChannels = response.data.result;
            });

            $http({
                url: api_context + "/user/"+demo_user_id+"/privateChannels",
                method: 'GET'

            }).then(function (response) {
                $scope.privatehannels = response.data.result;
            });

            $scope.addImage = function(url) {
                if($scope.imageUrls.indexOf(url) == -1) {
                    $scope.imageUrls.push(url);
                }
                $scope.postData.imageUrls = $scope.imageUrls;
                console.log($scope.imageUrls);
            };
            $scope.removeImage = function(url) {
                $scope.imageUrls.splice($scope.imageUrls.indexOf(url), 1);
                $scope.postData.imageUrls = $scope.imageUrls;
                console.log($scope.imageUrls);
            };

            $scope.changeRoomIdToPrivate = function() {
                $scope.postData.roomId = $scope.privateChannel;
                //TODO: set public channel select to null for good UX
            };

            $scope.changeRoomIdToPublic = function() {
                $scope.postData.roomId = $scope.publicChannel;
                //TODO: set private channel select to null for good UX
            };

            $scope.post = function() {
                console.log($scope.postData);
                if($scope.postData.dealerUserId == null || $scope.postData.roomId == null) {
                    $window.alert("error occured!");
                } else {
                    //TODO: test this change of upload function call
                    $scope.upload($scope.files);
                    $http({
                        url: api_context + "/user/chat/post/message",
                        dataType: 'json',
                        method: 'POST',
                        data: $scope.postData
                    }).then(function (response) {
                        console.log(response);

                        $scope.showModal = false;

                    });
                }
            };

            $scope.$watch('files', function () {
                /* TODO: hopefully this change of
                 *          code doesn't break code
                 */

                /* calling it inside post function above
                 * to not get 'select channel errors' every
                 * time image is uploaded
                 */

                //$scope.upload($scope.files);
            });
            $scope.$watch('file', function () {
                if ($scope.file != null) {
                    $scope.files = [$scope.file]; 
                }
            });
            $scope.loading = false;

            $scope.upload = function (files) {
                if($scope.postData.roomId != null) {
                    if (files && files.length) {
                        $scope.loading = true;
                        for (var i = 0; i < files.length; i++) {
                          var file = files[i];
                          if (!file.$error) {
                            Upload.upload({
                                url: api_context + "/files/upload/user/" + demo_user_id + "/room/" + $scope.postData.roomId,
                                data: {
                                  file: file  
                                }
                            }).then(function (response) {
                                $scope.addImage(api_context + "/files/download/" + response.data.result.id);
                                $scope.loading = false;
                            });
                          }
                        }
                    }
                } else {
                    if($scope.showModal) {
                        $window.alert("please select a channel");
                    }
                }
            }
        });    
 
    </script>

</body>
</html>
